<small><small><i>
Introduction to Python for Bioinformatics - available at https://github.com/GunzIvan28/MScMak2023-IntroductionToPython.
</i></small></small>

# Strings

## Exercise 1
1. Given trna='AAGGGCTTAGCTTAATTAAAGTGGCTGATTTGCGTTCAGTTGATGCAGAGTGGGGTTTTGCAGTCCTTA', Calculate the % GC and % AT content in the trna sequence   
- A_count=trna.count('A')   
- C_count=trna.count('C')   
- G_count=trna.count('G')   
- T_count=trna.count('T')

## Exercise 2
1. Given the following amino acid sequence (MNKMDLVADVAEKTDLSKAKATEVIDAVFA), find the first, last and the 5th amino acids in the sequence. 
2. The above amino acid is a bacterial restriction enzyme that recognizes "TCCGGA". Find the first restriction site in the following sequence: AAAAATCCCGAGGCGGCTATATAGGGCTCCGGAGGCGTAATATAAAA

## Exercise 3
Given the DNA sequence CGCCTAAATAGCCTCGCGGAGCCTTATGTCATACTCGTCCT find the k-mer(3-mer) with the highest frequency

## Exercise 4

1. Create a while loop that starts with x = 0 and increments x until x is equal to 5. Each iteration should print to the console.
2. Repeat the previous problem, but the loop will skip printing x = 5 to the console but will print values of x from 6 to 10.
3. Create a for loop that prints values from 4 to 10 to the console.

 ## Exercise 5
 
 Write a function `areatriangle(b,h)` to compute the area of a triangle: formula is `area = .5*b*h`. Output should look like: 
 
 `The area of a triangle of base 3 and height 5 is 7.5`

## Exercise 6
Write a function `celsius_to_fahrenheit(temp)` to convert Celsius to Fahrentheit temperature. The formula is `(9/5) times temp plus 32`. Print the output in the form: 
 
`The Celsius temperature 50.0 is equivalent to 122.0 degrees Fahrenheit.`

## Exercise 7
Create a function that prompts the user for their first and last name. The function written should include the city and state.
That is, ask two more questions to get the city and the state you live in. Print where you are from on a new line. Put the customary comma between
city and state. Your run should look like the following: 


```  
Enter your first name: Ivan
Enter your last name: Lloyd
Enter the city you live in: Kampala
Enter the state you live in: Central

Your name is: Ivan Lloyd
You live in:  Kampala, Central

## Exercise 8
Write a function `count_down()` that starts at 10 and counts down to rocket launch. It's output should be:  
`10 9 8 7 6 5 4 3 2 1 BLASTOFF!`  

You can make all the numbers on the same line or different lines. Use a while loop.

## Exercise 9
Write a function `sum_prod(x,y)` that prints the sum and product of the numbers x and y on separate lines, the sum printing first.

## Exercise 10
Write a function `steps(n)` that adds up the numbers 1 through n and prints out the result. You should use either a `'while'` loop or a `'for'` loop. Be sure that you check your answer on several numbers n.  Be careful that your loop steps through all the numbers from 1 through and including n.

## Exercise 11
Write a function `conv(miles)` to convert miles to feet. There are 5280 feet in each mile. Make the print out a statement as follows:  
`There are 10560 feet in 2 miles.`  Except for the numbers, this statement should be exactly as written.

## Exercise 12
Write a function `drinks(age)`. This function should use an `if-elif-else` statement to print out:  

`Have a glass of milk.` for anyone under 7;  
`Have a coke.` for anyone under 21, and   
`Have a martini.` for anyone 21 or older.   

Tip: Be careful about the ages 7 (a seven year old is not under 7) and 21. Also be careful to make the phrases exactly as shown.
Test the runs (3 of them). Note that the test for the function output will use different numbers:

```  
drinks(5)
Have a glass of milk.

drinks(10)
Have a coke.

drinks(25)
Have a martini.

## Exercise 13
Write a function `odd_nums()` that prints the odd numbers from 1 through 100. Make all of these numbers appear on the same line (actually, when the line fills up it will wrap around, but ignore that.). In order to do this, your print statement should have `end=" "` in it. For example, `print(name,end=" ")` will keep the next print statement from starting a new line. Be sure there is a space between these quotes or your numbers will run together. Use a single space as that is what the testing program expects. Use a 'for' loop and the `range()` function.  

Things to be careful of that might go wrong: 
You print too many numbers, you put too much or too little space between them, you print each number on its own line, you print even numbers or all numbers, your first number isn't 1 or your last number isn't 99.  
Always check first and last outputs when you write a loop.

Test run (I've inserted a newline here to cause wrapping in the editor):

```  
odd_nums()
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 
57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

## Exercise 14
Write a function `trapez()` that computes the area of a trapezoid. Here is the formula: `A = (1/2)(b1+b2)h`. In the formula b1 is the length of one of the bases, b2 the other. The height is h and the area is A. Basically, this takes the average of the two bases times the height. For a rectangle b1 = b2, so this reduces to b1*h. This means that you can do a pretty good test of the correctness of your function using a rectangle (that way you can compute the answer in your head). Use input statements to ask for the bases and the height.
Convert these input strings to real numbers using `float()`. Print the output nicely EXACTLY like mine below.

Tip: Be careful that your output on the test case below is exactly as shown so that the testing function judges your output correctly.  The testing function does not look at your input statements, so you don't have to use my input prompts if you don't want to. However, testing function will enter the three inputs in the order shown. See the other test run below.

```  
trapez()
Enter the length of one of the bases: 3
Enter the length of the other base: 4
Enter the height: 8
The area of a trapezoid with bases 3.0 and 4.0 and height 8.0 is 28.0


Another test run. In grading, expect different input numbers to be used.

trapez()
Enter the length of one of the bases: 10
Enter the length of the other base: 11
Enter the height: 12
The area of a trapezoid with bases 10.0 and 11.0 and height 12.0 is 126.0

## Exercise 15
Write a function `diner_waitress()` that asks for you order. First start an empty list, call it order. Then use a `while loop and an input()` statement to gather the order. Continue in the while loop until the customer says `that's all`. One way to end the loop is to use `break` to break out of the loop when `that's all` is entered. Recall that you can add to a list by using the list's .append() method; suppose that your list is called order. You are going to have to input one food at a time and append it to the order list. Then print out the order. Here is my run:  
```  
diner_waitress()

Hello, I'll be your waitress. What will you have?

menu item: eggs
menu item: bacon
menu item: toast
menu item: jelly
menu item: that's all

You've ordered:
['eggs', 'bacon', 'toast', 'jelly']

# Lists, randoms, seeds, floats

## Exercise 16
Write a function `runner()` that sets a variable lis = list(range(20,30)) and does all of the following, each on a separate line: 

(a) print the element of lis with the index 3  
(b) print lis itself  
(c) write a 'for' loop that prints out every element of lis. Recall that len() will give you the length of such a data collection if you need that. Use `end=" "` to put one space between the elements of the list lis.  Allow the extra space at the end of the list to stand, don't make a special case of it.
    
Test run:
```  
runner()
23
[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
20 21 22 23 24 25 26 27 28 29

## Exercise 17
Let's do a small simulation. Suppose that you rolled a die repeatedly. Each time that you roll the die you get a integer from 1 to 6, the number of pips on the die. Use `random.randint(a,b)` to simulate rolling a die 10 times and printout the 10 outcomes. The function random.`randint(a,b)` will generate an integer (whole number) between the integers a and b inclusive. Remember each outcome is 1, 2, 3, 4, 5, or 6, so make sure that you can get all of these outcomes and none other. Print the list, one item to a line so that there are 10 lines as in the example run.  Make sure that it has 10 items and they are all in the range 1 through 6.  Here is one of my runs. In the problem below I ask you to set the seed to 171 for the benefit of the reproducibility. In this example, that wasn't done and so your numbers will be different.  Note that the seed must be set BEFORE randint is used.

```  
dice()
4
5
3
1
4
3
5
1
6
3

## Exercise 18
Heron's formula for computing the area of a triangle with sides a, b, and c is as follows. Let `s = .5(a + b + c)` --- that is, 1/2 of the perimeter of the triangle. Then the area is the square root of `s(s-a)(s-b)(s-c)`. You can compute the square root of x by `x**.5` (raise x to the 1/2 power). Use an input statement to get the length of the sides. Don't forget to convert this input to a real number using float(). Adjust your output to be just like what you see below. Here is a run of my program:

```  
heron()

Enter length of side one: 9
Enter length of side two: 12
Enter length of side three: 15

Area of a triangle with sides 9.0 12.0 15.0 is 54.0

## Exercise 19
The following list gives the hourly temperature during a 24 hour day. Write a function, that will take such a list and compute 3 things: average temperature, high (maximum temperature), and low (minimum temperature) for the day.  I will test with a different set of temperatures, so don't pick out the low or the high and code it into your program. This should work for other hourly_temp lists as well. This can be done by looping (iterating) through the list. I suggest you not write it all at once. You might write a function that computes just one of these, say average, then improve it to handle another, say maximum, etc. Sample run using the list hourly_temp. 

Note that the testing function will use a different hourly list.  Be sure that you function works on this list and test it on at least one other list of your own construction. Note also, that the list the grader uses may not have the same number of items as this one.


hourly_temp  = [40.0, 39.0, 37.0, 34.0, 33.0, 34.0, 36.0, 37.0, 38.0, 39.0, \
               40.0, 41.0, 44.0, 45.0, 47.0, 48.0, 45.0, 42.0, 39.0, 37.0, \
               36.0, 35.0, 33.0, 32.0]


```  
weather(hourly_temp)
Average: 38.791666666666664
High: 48.0
Low: 32.0

## Exercise 20
Write a function that will convert a date from one format to another. Specifically, `06/10/2016` should convert to `June 17, 2016`.  Actually, you will input the 6, the 17, and the 2016 as separate integers (numbers) and the function will assemble and print the date as June 17, 2016.  I suggest that you create a tuple months = ("January", "February", "March", ...) to store the names of the months.  Then it is easy to access the name February as months[1] and so on.

Here is printout of my run.

```  
calen(6,17,2016)
June 17, 2016

# Dictionaries, turples, sets

## Exercise 21
Write a function that is complementary to the one in the previous problem that will convert a date such as June 17, 2016 into the format 6/17/2016.  I suggest that you use a dictionary to convert from the name of the month to the number of the month. Then it is easy to look up the month number as months["February"] and so on. Note that the month names should begin with capital letters. 
 
***Tip:***    
In print statements, commas create a space.  So you may have difficulty avoiding a space between the 7, 17, and 2016 below and the following comma.  I suggest that you build the output as a single string containing the properly formatted date and then print that.  You can convert any number to string by using str() and tie the parts together using +. Duplicate the format of the example output exactly. 

Here is a printout of my run for June 17, 2016.

```  
date_conv_modified("July",17, 2016)
7/17/2016

## Exercise 22
Write a function temp_stat(temps) to compute the average, median, standard deviation and variance of the temperatures in the table.  Print each out.
The following code generates the same temperatures each time because the seed is set to 150. Print the temperature list as the first line of the function.

Here is what my run on the table of temperatures built below looks like:

```  
temp_stat(temperatures)
[52, 61, 45, 50, 44, 34, 57, 80, 91, 50, 38, 91, 84, 20, 55, 23, 83, 42, 44, 84]
Mean:  56.4
Median:  51.0
Standard deviation:  22.04397518836526
Variance:  485.9368421052631

```

# Reading, writing, and manipulation of text files (Empasis on csv files)

## Exercise 23
Write a function `write_to_file(filename,myname,myage,major)` that opens the file <filename> and writes 3 lines in it using the data given. Here is a sample of what could be in the file. Call the file 'namefile.txt', so that it is identifiable as a text file:

```  
My name is George  
My age is 21   
I am majoring in Physics

```

Tips: 
1. `write_to_file()` can take only a string and, in fact, only one. So whatever you write has to be put together into one string (using +, for example).
2. Add `+"\n"` on the end of each write to put a newline at the end of each line. Otherwise, everything will be jammed together on one line.
3. Convert your age (a number) to a string -- use `str()` to do that. Then join it to the other parts of the string before writing.
4. When running the function, use quotes around every argument except the number.

## Exercise 24
Write a function that would read a CSV file that looks like this, flowers.csv:

```  
petunia,5.95
alyssum,3.95
begonia,5.95
sunflower,5.95
coelius,4.95

```
and looks up the price of a flower and print out that price.  Remember to import the necessary library. Here is my run on the above CSV file:

```  
flower_price("flowers.csv","alyssum")
3.95

```

## Exercise 25
Write a function that reads a text file and counts the number of characters in it.  Print both the text file and the number of characters. Do this so that the printout isn't doubled space (use an end=""  argument in the print statement). Also, skip a line before printing the count. Note that it is easy to get the number of characters in each line using the len() function. Here is my run for HumptyDumpty.txt.  Let me point out one thing that is not visible here and is a bit technical.  At the end of each of the first three lines there is a `newline` character.  These are invisible.  If you do the count by eye, you are likely to come up short by these three characters, but they are visible to len() and you should count them -- they are part of the 141 "letters" in the humptydumpty.txt file.  Counting them makes this an easier function for you to write.


```  
read_cnts("/Data/humptydumpty.txt")
Humpty Dumpty sat on a wall,
Humpty Dumpty had a great fall.
All the king's horses and all the king's men
Couldn't put Humpty together again.

There are 141 letters in the file.

# Running stand-alone scripts or programs

## Exercise 26

Write a program (not just a function, but a stand alone program or script) that reads through a file and writes another file that gives the length of each line in the first file.  If line is the line that you've read into your program, use line.strip("\n") to strip away the invisible newline character at the end of each line.  Otherwise, your count will be one higher than the marking algorithm.  
Here is a run of my solution program using the HumptyDumpty.txt file. The run is followed by a printout of `HumptyDumpty.txt` and the written file
`HumptyLength.txt`. Note that your program does not print anything out.  It does write a text file though.

`python writ_cnts.py humptydumpty.txt humptylength.txt`

## Exercise 27
Write a program that will sort an alphabetic list (or list of words) into alphabetical order. Make it sort independently of whether the letters are 
capital or lowercase. First print out the wordlist, then sort and print out the sorted list. Here is my run on the list firstline below (note that the wrapping was added when I pasted it into the file -- this is really two lines in the output).

```  
['Happy', 'families', 'are', 'all', 'alike;', 'every', 'unhappy', 'family',
 'is', 'unhappy', 'in', 'its', 'own', 'way.', 'Leo Tolstoy', 'Anna Karenina']
['alike;', 'all', 'Anna Karenina', 'are', 'every', 'families', 'family',
'Happy', 'in', 'is', 'its', 'Leo Tolstoy', 'own', 'unhappy', 'unhappy', 'way.']

```

## Exercise 28
Write a function that can enter the productand its cost and it will print out nicely. Specifically, allow 25 characters for the product name and left-justify it in that space; allow 6 characters for the cost and right justify it in that space with 2 decimal places. Precede the cost with a dollar-sign.  There should be no other spaces in the output.

Here is how one of my runs looks:
```  
toothbrush               $  2.60

```